
body {
    display: flex;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin: 0;
}


header{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}


header .logo-text{
    font-size: 24px;
}

header .links{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

/* ******************************************* */


.hero,.info,.quote,.cta{
    display: flex;
    background-color: #1F2937;
    flex-basis: 100px;
    flex-shrink: 1;
    justify-content: space-around;
    padding: 50px;
}

.hero .text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .text-container .main-text , .hero .text-container .secondary-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 350px;
}

.hero .text-container .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

button {
    color: white;
    background-color: #3882F6;
    width: 125px;
    flex-basis: 30px;
    border-radius: 6px;
}

.hero img{
    max-width: 100%;
    background-color: grey;
    height: auto;
    width: 450px;
}

/* ******************************************* */

.info{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info .heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info .cards{
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    gap: 35px;
}

.cards .card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card img{
    border-radius: 10px;
    border: 5px solid blue;
    flex: 1 1  125px;
}

.card .text{
    width: 150px;
    text-align: center;
    flex-basis: 125px;
}

/* ******************************************* */


.quote{
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote .source{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}


/* ******************************************* */


.cta{
    background-color: white;
    
}

.cta .main{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
    padding: 50px;
    flex-direction: row;
    gap: 20px;
}

.cta .title-text{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.title-text .subtext{
    font-size: 16px;
    font-weight: normal;
}

.cta button{
    background-color: #3882F6;
    flex-basis: 125px;
    border: 3px solid rgb(255, 255, 255);
}


/* ******************************************* */

footer{
    display: flex;
    font-size: 15px;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
}